<app-headeru></app-headeru>

<button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
        (click)="frame.show()" mdbWavesEffect>
  Test alert sign in
</button>

<div mdbModal #frame="mdbModal" class="modal fade bottom modal-scrolling" id="frameModalTop" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-frame modal-bottom modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <p class="pt-3 pr-2">Please Sign in first before editing users</p>

          <a type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Sign in
            <i class="fas fa-key ml-1"></i>
          </a>
          <a type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect
             data-dismiss="modal" (click)="frame.hide()">Later</a>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<div class="flex-center flex-column" style="height: 20vh">
<h1> TABLE Here..  </h1>
</div>
<div class="container z-depth-2 animated fadeInRight" style="min-width: 20em">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="md-form">
        <input type="text" [(ngModel)]="search" class="form-control" id="search" mdbInput>
        <label for="search">Search</label>
      </div>
    </div>
  </div>
  <table mdbTable #tableEl="mdbTable">
    <thead>
    <tr>
      <th class="text-uppercase align-middle" mdbWavesEffect *ngFor="let head of headElements; let i = index" scope="col">{{head}}
      </th>
      <th mdbWavesEffect scope="col" style="text-align: center; width: 20%;" *ngIf="button === false" class="animated fadeIn">
        <button mdbBtn type="button" color="default" outline="true" size="sm" mdbWavesEffect (click)="openTools()">Tools</button>
      </th>
      <th mdbWavesEffect scope="col" style="text-align: center; width: 20%;" *ngIf="button === true" class="animated fadeIn">
        <button mdbBtn type="button" color="warning" outline="true" size="sm" mdbWavesEffect (click)="openTools()">Back</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="animated fadeIn" *ngFor="let el of elements| filter:search; let i = index">
      <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
          scope="row">{{ i + 1}}</th>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.firstname}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.lastname}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.phonenumber}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.email}}</td>
      <td *ngIf="button === true" class="animated fadeIn"><button mdbBtn type="button" color="default" outline="true" size="sm" mdbWavesEffect>Edit</button>
        <button mdbBtn type="button" color="danger" outline="true" size="sm" mdbWavesEffect>Delete</button></td>
      <td *ngIf="button === false" class="animated fadeOut"><button mdbBtn type="button" color="default" outline="true" size="sm" mdbWavesEffect>Edit</button>
        <button mdbBtn type="button" color="danger" outline="true" size="sm" mdbWavesEffect>Delete</button></td>
    </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
    <tr>
      <td colspan="6">
        <mdb-table-pagination [tableEl]="tableEl" paginationAlign="end" [searchDataSource]="elements"></mdb-table-pagination>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

