<app-headeru></app-headeru>

<div  mdbModal #frame="mdbModal" class="modal fade bottom modal-scrolling" id="frameModalTop" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" *ngIf="chk === true" [config]="{backdrop: true, ignoreBackdropClick: false, show: true}">
  <div class="modal-dialog modal-frame modal-bottom modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <p class="pt-3 pr-2">Please Sign in first before editing users</p>

          <a type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Sign in
            <i class="fas fa-key ml-1"></i>
          </a>
          <a type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect
             data-dismiss="modal" (click)="frame.hide()">Later</a>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<div class="flex-center flex-column" style="height: 20vh">
<h1> TABLE Here  </h1>
</div>
<div class="container z-depth-2 animated fadeInRight" style="min-width: 20em;">

  <div class="md-form form-sm form-inline input-group mb-3">
    <input type="text" [(ngModel)]="search" class="form-control" id="search" mdbInput
           aria-describedby="button-addon2">
    <label for="search"><i class="fas fa-search" aria-hidden="true"></i>&nbsp;Search</label>
    <div class="input-group-append">
      <button mdbBtn color="default" size="md" class="m-0 px-3 py-2" type="button" id="button-addon2"
              mdbWavesEffect (click)="openmodal()">Create User</button>
    </div>
  </div>
  <table mdbTable>
    <thead>
    <tr>
      <th class="text-uppercase align-middle" mdbWavesEffect *ngFor="let head of headElements; let i = index" scope="col">{{head}}
      </th>
      <th mdbWavesEffect scope="col" style="text-align: center; width: 20%;" *ngIf="button === false" class="animated fadeIn">
        <button mdbBtn type="button" color="default" outline="true" size="sm" mdbWavesEffect (click)="openTools($event)">Tools</button>
      </th>
      <th mdbWavesEffect scope="col" style="text-align: center; width: 20%;" *ngIf="button === true" class="animated fadeIn">
        <button mdbBtn type="button" color="warning" outline="true" size="sm" mdbWavesEffect (click)="openTools($event)">Back</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="animated fadeIn" style="height: 10vh" *ngFor="let el of elements| filter:search| paginate: { itemsPerPage: 3, currentPage: p }; let i = index">
      <th
          scope="row">{{ i + 1}}</th>
      <td >{{el.firstname}}</td>
      <td >{{el.lastname}}</td>
      <td >{{el.phonenumber}}</td>
      <td >{{el.email}}</td>
      <td *ngIf="button === true" class="animated fadeIn"><button mdbBtn type="button" color="default" outline="true" size="sm" mdbWavesEffect
                                                                  (click)="openViewmodal(el._id, el.firstname, el.lastname, el.phonenumber, el.email)">Edit</button>
        <button mdbBtn type="button" color="danger" outline="true" size="sm" mdbWavesEffect (click)="pushDelete(el._id)">Delete</button></td>
      <!--  <td *ngIf="button === false" class="animated fadeOut" disabled><button mdbBtn type="button" color="default" outline="true" size="sm" mdbWavesEffect>Edit</button>
        <button mdbBtn type="button" color="danger" outline="true" size="sm" mdbWavesEffect>Delete</button></td> -->
    </tr>
    </tbody>
    <tfoot class=" grey lighten-5 w-100">
    <tr>
      <td colspan="6">
        <pagination-controls class="" (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
      </td>
    </tr>
    </tfoot>
  </table>

  <h4  class="md-form mb-3" style="text-align: center" mdbWavesEffect> There is no result content ..  </h4>
</div>

