<!-- Start your project here-->
<div style="height: 100vh">
  <div class="flex-center flex-column" style="font-family: sans-serif">
    <a href=""><img class="rounded" src="assets/images/profile.jpg" alt="profile" width="150px"></a> <br>
    <h1 class="animated fadeIn mb-4">Angular WebApp : //</h1>

    <h5 class="animated fadeIn mb-3">Thank you for using our product. We're glad you're with us.</h5>
    <h6 class="animated fadeIn mb-3">Contact me
      <hr><a href="https://www.facebook.com/profile.php?id=100001223731973"><mdb-icon fab icon="facebook-square" size="2x"></mdb-icon></a>&nbsp;
      <a href="https://github.com/m0ndez"><mdb-icon fab icon="github-square" size="2x"></mdb-icon></a></h6>

    <p class="animated fadeIn text-muted modal-footer">&copy; Chattongchai @ 2019</p>
  </div>
</div>
<!-- /Start your project here-->
