<!-- Start your project here-->
<div class="bg-image" style="height: 100vh">
  <div class="flex-center flex-column text-white-50" style="font-family: 'Prompt', sans-serif;">
    <a href=""><img class="rounded" src="assets/images/profile.jpg" alt="profile" width="150px"></a> <br>
    <h1 class="animated fadeIn mb-4">Angular WebApp : //</h1>
    <h5 class="animated fadeIn mb-3 text-uppercase">First resource project, and interview.</h5>
    <h6 class="animated fadeIn mb-3">Contact me
      <hr><a href="https://www.facebook.com/profile.php?id=100001223731973"><mdb-icon fab icon="facebook-square" size="2x"></mdb-icon></a>&nbsp;
      <a href="https://github.com/m0ndez"><mdb-icon fab icon="github-square" size="2x" class="red-text"></mdb-icon></a></h6>
    <button type="button" mdbBtn color="light" mdbWavesEffect routerLink="/about">Enter Site</button>
    <br>


    <p class="animated fadeIn text-white-50 modal-footer">&copy; Chattongchai.R @2019</p>
  </div>
</div>
<!-- /Start your project here-->
