<div class="flex-column flex-center" style="height: 50vh">
  <a href=""><img class="rounded" src="assets/images/profile.jpg" alt="profile" width="150px"></a> <br>
  <h1> Chattongchai Raksitanon <hr></h1>
  <h3>IT Support , Degree: COM-SCI at PNRU</h3>
  <br>
  <h5> Loved to Coding and learning about code , C++, JavaScript, Angular <br>
  GPA : 3.56 Year.2 T.1 <br>
  </h5>
  <h6 class="text-muted"> <hr> Contact me <br>
    <hr><a href="https://www.facebook.com/profile.php?id=100001223731973"><mdb-icon fab icon="facebook-square" size="2x"></mdb-icon></a>&nbsp;
    <a href="https://github.com/m0ndez"><mdb-icon fab icon="github-square" size="2x" class="red-text"></mdb-icon></a> </h6>
</div>
