<mdb-card>
  <mdb-card-header class="info-color text-white text-center py-4"><h4><strong> {{content.heading}} </strong></h4></mdb-card-header>
  <!--Card image-->
  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h5>ID :  {{content.id}}</h5>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text class="px-lg-5 pt-0"> <h6>

      <form action="">
      <div class="form-row">
        <div class="col">
          <!-- First name -->
          <div class="md-form">
            <input type="text" id="materialRegisterFormFirstName" class="form-control" mdbInput disabled value="{{content.firstname}}">
            <label for="materialRegisterFormFirstName">First name</label>
          </div>
        </div>
        <div class="col">
          <!-- Last name -->
          <div class="md-form">
            <input type="email" id="materialRegisterFormLastName" class="form-control" mdbInput disabled value=" {{content.lastname}}">
            <label for="materialRegisterFormLastName">Last name</label>
          </div>
        </div>
      </div>
        <!-- PhoneNumber -->
        <div class="md-form">
          <input type="text" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock"
                 mdbInput disabled value="{{content.phonenumber}}">
          <label for="materialRegisterFormPhone">Phone number</label>
          <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
            Optional - for two step authentication
          </small>
        </div>
        <!-- E-mail -->
        <div class="md-form mt-0">
          <input type="email" id="materialRegisterFormEmail" class="form-control" mdbInput disabled value="{{content.email}}">
          <label for="materialRegisterFormEmail">E-mail</label>
        </div>
      </form>
    </h6>
    </mdb-card-text>
  </mdb-card-body>
  <mdb-card-footer>

    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
  </mdb-card-footer>
</mdb-card>
