<mdb-card>
  <mdb-card-header class="text-center py-4"><h4><strong> {{content.heading}} </strong></h4></mdb-card-header>
  <!--Card image-->
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h5>ID :  {{content.id}}</h5>
      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" style="width: 200px" alt="Card image cap"></mdb-card-img>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text class="px-lg-5 pt-0"> <h6>

      <form [formGroup]="viewForm" (ngSubmit)="isEdit()">
      <div class="form-row">
        <div class="col">
          <!-- First name -->
          <div class="md-form">
            <input type="text" id="materialRegisterFormFirstName" class="form-control" formControlName="firstname" mdbInput  aria-describedby="old-firstname">
            <label for="materialRegisterFormFirstName">{{content['firstname']}}</label>
            <small id="old-firstname" class="form-text text-muted mb-4">
               Use pattern A-Z only
            </small>
          </div>
        </div>
        <div class="col">
          <!-- Last name -->
          <div class="md-form">
            <input type="email" id="materialRegisterFormLastName" class="form-control" formControlName="lastname" mdbInput aria-describedby="old-lastname">
            <label for="materialRegisterFormLastName">{{content['lastname']}}</label>
            <small id="old-lastname" class="form-text text-muted mb-4">
              Use pattern A-Z only
            </small>
          </div>
        </div>
      </div>
        <!-- PhoneNumber -->
        <div class="md-form">
          <input type="text" id="materialRegisterFormPhone" class="form-control" formControlName="phonenumber" aria-describedby="materialRegisterFormPhoneHelpBlock"
                 mdbInput>
          <label for="materialRegisterFormPhone">{{content['phonenumber']}}</label>
          <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
            User only number format example 0-9
          </small>
        </div>
        <!-- E-mail -->
        <div class="md-form mt-0">
          <input type="email" id="materialRegisterFormEmail" class="form-control" formControlName="email" mdbInput aria-describedby="old-email">
          <label for="materialRegisterFormEmail">{{content['email']}}</label>
          <small id="old-email" class="form-text text-muted mb-4">
            Use email pattern only
          </small>
        </div>
      </form>
    </h6>
    </mdb-card-text>
  </mdb-card-body>
  <mdb-card-footer>
    <a *ngIf="isDisable === true" mdbBtn color="deep-orange" mdbWavesEffect (click)="editButton()">Edit</a>
    <button [disabled]="viewForm.invalid" *ngIf="isDisable === false" mdbBtn color="primary" mdbWavesEffect (click)="editButton()">Submit</button>
    <a *ngIf="isDisable === false" mdbBtn color="light"  class="text-black-50" mdbWavesEffect (click)="editButton()">back</a>
  </mdb-card-footer>
</mdb-card>
