<div class="bg-image animated fadeInDown">
<!-- Default form subscription -->
<div class="container flex-center" style="width: 100vw; height: 100vh">
<form class="text-center z-depth-3 border rounded border-light p-5" style="background-color: whitesmoke;width: 25vw">
  <button type="button" class="close float-md-right" data-dismiss="modal" aria-label="Close" [routerLink]="['/']">
    <span aria-hidden="true">&times;</span>
  </button>
  <br>
  <p class="h4 mb-4">Log in</p>

  <p>Create Login form JWT Auth0</p>

  <p>
    <a href="" target="_blank">See the last newsletter</a>
  </p>
  <br>
  <!-- Email -->
  <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="E-mail" mdbInput>

  <!-- Name -->
  <input type="password" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="password" mdbInput>

  <!-- Sign in button -->
  <button mdbBtn color="info" block="true" type="submit">Sign in</button>


</form>
</div>
<br>
<!-- Default form subscription -->
</div>
